<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length>0){ %>
        <ul>
            <% for(let product of products) { %>
            <li>
                <p><%= product.title %> <%= product.cartItem.quantity %></p>
                <form method="POST" action="/delete-cart-item">
                    <input type='hidden' name='productid' value='<%= product.id %>'>
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
            <% } %>
        </ul>
        <form action='/create-order' method="POST">
            <button class="btn" type="submit">Checkout</button>
        </form>
        <% } else { %>
        <h1>No Products</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>